# General
.DS_Store
.AppleDouble
.LSOverride

# JUST TESTING GITHUB TO VSCODE CONNECTION!  Please ignore if anyone else sees this- I am still trying to wrap my head around GitHub...
# Okay, that seemed to work! Let me try this the other way


# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
